@import 'tailwindcss';

.pillow
{
    @apply bg-(--primary) flex flex-row items-center gap-4
    p-3 2xl:p-4 rounded-xl w-full;
}

.pillow-icon
{
    @apply p-3 rounded-md;
}

.pillow-icon > i
{
    @apply text-white text-2xl md:text-3xl xl:text-4xl 
    2xl:text-5xl;
}

.pillow-icon > img
{
    @apply size-8 md:size-7.5 xl:size-8.5 2xl:size-9.5;
}

.pillow-body > p 
{
    @apply text-white text-base 2xl:text-lg font-semibold;
}