@import 'tailwindcss';

.footer
{
    @apply relative bg-(--background) py-14 flex flex-col 
    border-t border-zinc-800 justify-center items-center z-999;
}

.footer-link
{
    @apply text-sm font-semibold text-white py-2 px-4 
    rounded-md hover:text-gray-300 hover:bg-gray-300/5 
    transition-all duration-300 cursor-pointer;
}

.footer-head
{
    @apply flex flex-row items-center justify-between 
    border-t-2 border-white/20 w-[90%] pt-4;
}

.footer-head > span
{
    @apply text-gray-200 text-sm 2xl:text-base font-semibold;
}

.footer-body
{
    @apply mb-10;
}

.footer-body > ul
{
    @apply flex flex-col md:flex-row items-center justify-center gap-1;
}